﻿@model  WebApplication1.Areas.Manage.LoginVM

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Editor Management Login">
    <meta name="author" content="PrintAPI">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Login - Editor Management</title>
    <!-- Icons-->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="~/manage/dist/lib/bootstrap/style.css" rel="stylesheet" />
    <link href="~/manage/dist/lib/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/manage/dist/lib/pace/pace.css" rel="stylesheet" />
    <link href="~/manage/dist/app.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card p-4  d-flex justify-content-center">
                        <form asp-route-returnurl="@ViewData["ReturnUrl"]" role="form" method="POST" class="align-self-center">
                            <div class="card-body">
                                <h1>Login</h1>
                                <p class="text-muted">Editor Management</p>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </div>
                                    <input autofocus asp-for="Email" class="form-control form-control form-control-lg rounded-0" placeholder="Email" />
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Password" class="form-control form-control-lg rounded-0" autocomplete="new-password" placeholder="Password" />
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="submit" class="btn primary-color btn-outline-dark px-4" id="js_login-button">Login</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card text-white py-5 d-md-down-none primary-color" style="width:44%">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap and necessary plugins-->
    <!-- Bootstrap and necessary plugins -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="~/manage/dist/lib/pace/pace.js"></script>
    <script src="~/manage/dist/lib/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/manage/dist/app.min.js" asp-append-version="true"></script>
    <script src="~/manage/dist/lib/coreui/coreui.js"></script>

</body>
</html>

@await Html.PartialAsync("_ValidationScriptsPartial")
